@model BooksStore.Models.Review
@using Microsoft.AspNetCore.Identity
@using BooksStore.Areas.Identity.Data
@inject SignInManager<BooksStoreUser> SignInManager
@inject UserManager<BooksStoreUser> UserManager

@{
    ViewData["Title"] = "Kupeni Knigi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reviews for my books</h1>

<h4>Feel free to share your review and rating of the book @ViewData["BookTitle"] after you have read it!</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="PostReviewUserLogged">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div type="hidden" class="form-group">
                <input type="hidden" asp-for="AppUser" class="form-control" value="@UserManager.GetUserName(User)" />
                <span asp-validation-for="AppUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div type="hidden" class="form-group">
                <input type="hidden" asp-for="BookId" class="form-control" value="@ViewBag.BookId" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create review for @ViewData["BookTitle"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
